
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>高考志愿大数据平台</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/font-awesome.min.css}" />
    <!--//Style-CSS -->
    <script type="text/javascript" th:src="@{/js/user/register.js}"></script>


</head>

<body>

<!-- form section start -->
<section class="w3l-hotair-form">
    <h1>注册界面</h1>
    <div class="container">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h2>注册</h2>
                    <form action="/user/register" method="post">
                        <input type="email" class="umail" name="umail" placeholder="邮箱" required="" autofocus>
                        <input type="text" class="uname" name="uname" placeholder="用户名称" required="" autofocus>
                        <input type="password" id="pw" class="upassword" name="upassword" placeholder="密码" required="" autofocus>
                        <input type="password" id="repw"  placeholder="确认密码" onkeyup="checkpassword()">
                        <span id="alert"></span></input>
                        <button class="btn" id="submit" type="submit">注册</button>
                    </form>

                    <p class="account">已有帐号？ <a href="/toIndex">登录</a></p>
                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img th:src="@{/images/1.png}"  alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </div>
    <!-- copyright-->
    <div class="copyright text-center">
        <p class="copy-footer-29">© 2021 四川大学软件学院 第七组（周渝谦，吴昊，乔俊龙，马雍腾，刘雅欣，张小锋）</p>
    </div>
    <!-- //copyright-->
</section>
<!-- //form section start -->
</body>

</html>